:root {
  --azul-principal: #4A88CA;
  --verde: #6ebd4f;
  --azul-oscuro: #13315C;
  --amarillo-claro: #FDF28E;
  --amarillo-fuerte: #FFC344;
  --fondo: #f4f6f8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--fondo);
  color: var(--azul-oscuro);
}
